.container {
  width: 50%;
  margin: 20px;
}

.logo {
  width: 30px;
  height: 30px;
  display: inline-block;
  margin-right: 10px;
  text-align: center;
  vertical-align: middle;
  .ivu-icon {
    vertical-align: super;
  }
}

// 属性面板样式
// :deep(.attr-item) {
//   position: relative;
//   margin-bottom: 12px;
//   height: 40px;
//   padding: 0 10px;
//   background: #f6f7f9;
//   border: none;
//   border-radius: 4px;
//   display: flex;
//   align-items: center;
//   .ivu-tooltip {
//     text-align: center;
//     flex: 1;
//   }
// }


